<div id="<%= dom_id actor %>">
  <p>
    <strong>Actor:</strong>
    <%= actor.actor_id %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= actor.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= actor.last_name %>
  </p>

</div>
