<head>
    <title>Home</title>
</head>

<h1>Test home page.</h1>

<h2>Random movie</h2>
<% movie = @random_movie %>

<p><%=movie.title %></p>
<p><%=movie.description %></p>
<p><%=movie.release_year %></p>


<h2>Time</h2>
<p><%= "Current time: #{Time.now}" %></p>

<h2>Links</h2>
<p><a href="/movies/">/movies</a></p>
<p><a href="/movies/new">/movies/new</a></p>

<p><a href="/actors/">/actors</a></p>
<p><a href="/actors/new">/actors/new</a></p>